.app{
  margin:1rem 6rem;
  padding: 1rem 2rem;
  /* display: flex;
  align-items: flex-start; */
}
.nav_bar{
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
}