.super_div{
  margin-top: -5rem;
  flex:0 30%;
  padding: 2rem !important;
  margin-right: 1rem;
  box-sizing: border-box; 
}

.main_div img{
  height:100%;
  width: 100%;
  /* border: 1px solid black; */
  box-sizing: border-box;
}
h3{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;

}
